.app {
    width: 500px;
    margin: 50px auto;

    background: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

    font-family: 'Arial';

    &__title {
        text-align: center;
        margin: 0 0 10px;
    }

    &__status {
        text-align: center;
        font-size: 14px;
    }

    &__audio-stream {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        audio {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #aaa;
            border-radius: 40px;

            &:focus {
                outline: none;
            }
        }
    }

    &__error {
        margin: 20px 0 0;
        color: coral;
        font-size: 14px;
        text-align: center;
    }
}